:root {
    --implosion-timing-function: linear(0 0%, 0 3%, 0.02 6%, 0.01 12%, 0.03 18%, 0.04 24%, 0.05 30%, 0.6 70%, 1 100%)
}

@property --radius {
    inherits: false;
    initial-value: 0px;
    syntax: "<length>";
}

.shader {
    position: absolute;
    width: 600px;
    height: 600px;
    backface-visibility: hidden;
}

.shader img {
    width: 600px;
    filter: grayscale(100%);
}

.shader__layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.mask {
    background-image: url('bulb.png');
    background-size: 600px auto;
    mix-blend-mode: multiply;
    background-color: black;
}

.specular {
    --radius: 35px;

    background-image: radial-gradient(circle var(--radius) at 51% 50%,
            transparent,
            #ffd700,
            transparent);
    mix-blend-mode: color-dodge;
    background-color: black;
    animation: pulse 3s infinite var(--implosion-timing-function) alternate;
}

@keyframes pulse {
    to {
        --radius: 600px
    }
}